<template name="MasterLayout">
	<div class="container">
		<div class="header clearfix">
			<div class="navbar">
				<div class="navbar-inner">
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-4">
								<h3 class="text-muted">
									{{#linkTo route="home"}}Food Grouper{{/linkTo}}
								</h3>
							</div>
						<div class="col-sm-8">
							<form class="navbar-search pull-right">
								<input type="text" class="span2" placeholder="Login">
								<input type="text" class="span2" placeholder="Password">
								<input type="submit" value="Login" class="btn"/>
							</form> 
						</div>
						</div>						
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col sm-10">
				{{> yield}}
			</div>
			<div class="col sm-1"></div>
		</div>

		<footer class="footer">
			<p>&copy; FoodGroups 2015</p>
		</footer>

	</div> <!-- /container -->
</template>
