<template name="Home">
	<div class="jumbotron">
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-8">
				<div class="row">
					<center>
						<p>{{#linkTo route="registerRestaurantAdmin" class="btn btn-success"}}Register Your Restaurant{{/linkTo}}</p>
						<p>{{#linkTo route="registerCompanyAdmin" class="btn btn-success"}}Register Your Company{{/linkTo}}</p>
						<p>{{#linkTo route="registerClient" class="btn btn-success"}}Register Client{{/linkTo}}</p>
					</center>
				</div>
			</div>
			<div class="col-sm-2"></div>
		</div>
	</div>
</template>
